<form [formGroup]="registrationForm">
  <div class="center" style="padding: 40px">
    <h1>User Registration Form</h1>
<div>
  <mat-form-field appearance="outline" style="width: 470px;">
    <mat-label>Name</mat-label>
    <input type="text" matInput class="form-control" formControlName="nameFormControl" pattern="[A-Za-z]">
    <mat-error *ngIf="nameFormControl?.errors?.['required']">
      Name is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="nameFormControl?.errors?.['pattern']">
      Name is <strong>not valid</strong>
    </mat-error>
  </mat-form-field>
</div>
  <div>
    <mat-form-field appearance="outline" style="width: 470px;">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="emailFormControl">
      <mat-error *ngIf="emailFormControl?.errors?.['email'] && !emailFormControl?.errors?.['required']">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl?.errors?.['required']">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>

    <div>
      <mat-form-field appearance="outline" style="width: 470px;">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="passwordFormControl">
        <mat-error *ngIf="passwordFormControl?.errors?.['required']">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline" style="width: 470px;">
        <mat-label>Bio</mat-label>
        <input type="text" matInput formControlName="bioFormControl">
        <mat-error *ngIf="bioFormControl?.errors?.['required']">
          Bio is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button (click)="onSubmit()">Submit</button>
    </div>
  </div>


</form>
